body {
  background: #FBE2E5;
  line-height: 1.6;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif; }

header .navbar {
  background-color: #f5ffaa; }

header nav ul a {
  color: #050000;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 5px;
  margin: 10px 0px; }

header nav ul li {
  padding: 7px;
  margin: 1px; }
  header nav ul li:hover {
    background-color: #f7c2ad;
    color: #767C77;
    border-radius: 10px;
    padding: 7px; }

main h1 {
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-weight: bold; }

main h2 {
  text-align: center;
  margin: 20px; }
  main h2 .card-title {
    text-align: center;
    margin: 0px;
    padding: 0px; }

main .bton {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: center; }

main p {
  text-indent: 40px;
  padding: 15px;
  margin: 0px 10px;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.4; }

main .cajagral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

main .sinjust {
  text-align: center;
  text-indent: 0px;
  margin: 20px;
  padding: 0px; }

main .caja {
  padding: 0px; }

main .card-text {
  text-indent: 0px;
  text-align: center; }

main .row {
  --bs-gutter-x: none; }

main .carousel-caption {
  text-shadow: 2px 2px 0px black; }
  main .carousel-caption h1 {
    color: white; }
  main .carousel-caption p {
    text-indent: 0px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: white; }
  @media (max-width: 768px) {
    main .carousel-caption h1 {
      font-size: 15px; }
    main .carousel-caption p {
      font-size: 14px; } }

main .accordion-item {
  background-color: #f7c2ad; }

main .accordion-button {
  background-color: #f7c2ad; }

main iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 45vw; }
  main iframe .animalinkedin {
    max-width: none;
    margin-top: 10px; }

main .center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; }

main form {
  margin: 60px; }
  main form .boton {
    background-color: #767C77;
    padding: 10px;
    border-radius: 20%; }

main .nombreform {
  background-color: #f7c2ad; }

main .noticia {
  background-color: #f7c2ad; }

main .hilos {
  background-image: url(../multi/concepto-red-hilo-rojo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
  width: 100vw; }

footer {
  background-color: #a6ada6;
  padding: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
