main{
  
    h1{
        padding: 10px;
        margin: 10px;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        font-weight: bold;
    }
    h2{
        text-align: center;
        margin: 20px;  

        .card-title{
            text-align: center;
            margin: 0px;
            padding: 0px;
        }

    }

    .bton{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-items: center;
    }

    p{
        text-indent: 40px;
        padding: 15px;
        margin: 0px 10px;
        text-align: justify;
        font-size: 1.2rem;
        line-height: 1.4;
    }

    .cajagral{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sinjust{
        text-align: center;
        text-indent: 0px;
        margin: 20px;
        padding: 0px;
    }

    .caja{
        padding: 0px;

    }

    .card-text{
        text-indent: 0px;
        text-align: center;
    }

    .row {
       --bs-gutter-x: none;
    }
    
    .carousel-caption{
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    
        h1{
            color: white;
        }

        p{
            text-indent: 0px;
            text-align: center;
            padding: 0px;
            margin: 0px;
            color: white;
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 15px;
            }
  
            p {
                font-size: 14px; 
            }
            }
        }

    .accordion-item{
        background-color: $coloracord;
    }
    .accordion-button{
        background-color: $coloracord ;
    }

    iframe{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 45vw;

        .animalinkedin{
            max-width: none;
            margin-top:10px ;
        }
        
    }

    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
      

    form{
        margin: 60px;

        .boton{
            background-color: $texto;
            padding: 10px;
            border-radius: 20%;
        }
       
    }

    .nombreform{
        background-color: $coloracord;
    }

    .noticia{
        background-color: $coloracord;
    }

    .hilos{
        background-image: url(../multi/concepto-red-hilo-rojo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 170px;
        width: 100vw;
    }
}
